@use '../../scss/core/colors';
@use '../../scss/core/variables';

@mixin header {
    // background-color: rgba(colors.$black, .1);
    background-color: colors.$gray-dark-d-10;
    height: 36px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    text-transform: uppercase;
    z-index: 10;
  }
  
  .ds-header {
    @include header;
    border-bottom: 1px solid rgba(colors.$white, .04);
    box-shadow: 0 3px 8px rgba(colors.$black, .1);
  
    .brand {
      letter-spacing: 4px;
      white-space: nowrap;
      margin: 0 60px 0 30px;
  
      span {
        letter-spacing: 0;
        vertical-align: middle;
      }

      &.mobile {
        display: none;
      }

      @media (width <= 1024px) {
        display: none;

        &.mobile {
          display: block;
        }
      }
    }
  
    .nav {
      display: flex;
      justify-content: center
    }
  }

.header-level-2 {
    box-shadow: 0 3px 8px rgba(colors.$black, .08);
    border-bottom: 1px solid rgba(colors.$white, .03);
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 24px;
    background-color: darken($color: colors.$gray-dark, $amount: 1%);
    text-transform: uppercase;
    font-size: 0.6rem;

    h4 {
        font-size: .8rem;
        color: rgba($color: #ffffff, $alpha: .6);
    }
}