@use '../../scss/core/colors';
@use '../../scss/core/variables';

.splitter-ctn {
    // position: absolute;
    margin: 36px 0 36px 48px;
    left: 48px;
    // bottom: 36px;
    // width: calc(100% - 48px);
    height: calc(100% - 64px);

    // width: 100%;
    // height: 100%;
    display: flex;
    flex-direction: row;
    // background-color: rgba(colors.$white, .0001);
}

.left-panel {
    width: 60%;
    height: 100%;
    background-color: colors.$gray-dark;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-panel {
    flex: 1;
    height: 100%;
    background-color: rgba(colors.$white, .01);
    // display: none;

    h2 {
        margin: 20px;
    }
}

.splitter-btns-bar {
    height: 16px;
    display: inline-flex;
    align-items: center;
    z-index: 10;
    position: relative;
    justify-content: end;
    z-index: 100;
    margin-top: 1px;
}

.splitter-btns-ctn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.splitter-row-ctn {
    border: 1px solid #ccc;
}

.splitter-row {
    width: 1px;
    height: 100%;
    background-color: colors.$gray-dark-l-10;
    background-color: #505050;
    box-sizing: border-box;
    z-index: 0;

    &:hover {
        cursor: ew-resize;
        background-color: aqua;
        outline: 2px solid aqua;

    }
}

.splitter-row-inside {
    width: 1px;
    background-color: rgba(colors.$red, .5);
    height: 90%;
    margin-left: 20px;
}

.splitter-row:hover {
    .splitter-btns-ctn {}
}